.page-header {
  width: 100%;
  padding: 20px 4%,10px;
  background-color: #fff;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
}

.left-contents {
  margin:0; 
  padding: 0;
  font-size: 20px;
}
.shovel-icon{
  text-decoration: none;
  color: #4b4b4b;
}

.nav-btn {
  text-decoration: none;
  color: #4b4b4b;
}

.li{
  display:flex;
}