// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
}
.main {
  
}

.contents {
  margin: 20px 30px;
}

.top-content {
  height: 100vh;
  background-image: image-url("city-5772040_1280.jpg");
  background-size: cover;
  
  
}
.top-intro {
  width: 80vw;
  margin: 0 auto;
  display:block;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  opacity: 0.8;
  padding: 70vh  0;
  

}

.new-friends{
  margin: 60px 0;
  text-align: center;
}
.new-friends p{
  color: #666;
  font-size: 20px;
}
.how_to{
  text-align: center;
}

.how_to p{
  font-size: 16px;
  text-align: center;
  color: #666;
}

.title {
  margin: 30px ;
  font-size: 25px;
  border-bottom: 1px solid #0f0fff;
  display: inline-block;
  color: #666;

  
}
span {
  color:black;
}


.new{
  margin-top: 40px;
  border: 1px solid black;
}

.new-room{
  text-align: center;
}
.new-room a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 30px;

}
.rooms {
  text-align: center;
  margin: 60px 0;
  

}

.search-form{
  margin-top: 40px;
  border: 2px solid silver;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 5px 3px;
  
}

.search_input{
  height: 50px;
  border-style: none;
  padding: 3px 0;
  
}

.search_btn{
  font-size: 30px;
  border: none;
  background: none;
  color: silver;
}
.search_btn:hover{
  color: #0f0fff;
}