// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.yellow{
  background-color: #ffedab;
  color: #aeaeae;
}

.memo {
  color: #666;
  font-size: 20px;
  margin:  0 20px 20px 0;
  border-bottom: 2px solid #00608d;
  display: inline-block;
}

.topics{
  margin: 20px 30px;

}

.num{
  font-size:25px;
  color: #0073a8;
  font-weight: bold;
  margin-right: 20px;
}
.topic {
  display: flex;
  margin-top: 5px;
  
}

.topic-name a{
  text-decoration: none;
  color: #a4c1d7;
  font-size: 25px;
  font-weight: bold;

}

.new_topic{
  
  margin: 50px 30px;
}
.form-memo{
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.input-form-t{
  font-size: 15px;
  padding: 5px 10px;
  border: 2px solid #fcc800;
  border-radius: 10px;
  width: 400px;
}

.form-submit{
  margin: 30px 20px 20px 20px;
  width: 80px;
  border: 2px solid #0073a8;
  background-color: white;
  color: #666;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 10px;

}

.topic-space{
  display: flex;
}

.dice{
  margin-left: 60px;
  text-align: center;
  
}
.dbtn{
  border: 2px solid #00608d;
  padding: 5px 15px;
  background-color: white;
  border-radius: 10px;
  color: #00608d;
  box-shadow: 1px 7px #0068b7;
  margin-bottom: 20px;
}
.dbtn:active{
  background-color: none;
  position: relative;
  top:7px;
}
#sikoro{
  width: 300px;
  height: 300px;
}