.red {
  background-color: #f19ca7;
}

.green {
  background-color: #a3d6cc;

}
.user-show{
  color: #666;
  font-size: 18px;
  margin: 10px 0;
  
}
.name{
  display: inline-block;
  font-size: 25px;
  border-bottom: 2px dotted #0073a8;
  border-top: 2px dotted #0073a8;
  padding: 5px 10px;
}
.user-picture{
  height: 150px;
  width: 150px;
  border: 2px solid #ea5532;
  background-image: image-url("greek-vase.png");
  background-size: cover;
  margin: 0 auto;
}
.follow-btn {
  text-decoration: none;
  border: 2px solid #666;
  color: #666;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 1px 5px #666;
}
.follow-btn:active{
  box-shadow: none;
  position: relative;
  top: 5px;

}

.your-page {
  text-align: center;
}

.number{
  margin: 10px 20px;
  text-align: center;
  color: #666;
  display: flex;
  justify-content: space-around;
  p{
    border-bottom: 2px solid #0673a8;
  }
}
.ichi {
  background-color: #e8ece9;
}

.s-btn {
  text-decoration: none;
  color: #666;
  font-size: 20px;
  margin: 0 10px;
  :hover{
    color: #a3d6cc;
  }
}

.follow {
  border-bottom: 2px solid #0673a8;
}


// deviseのページ修正
.field{
  margin: 10px 40px;
}
.devise-title{
  margin-bottom: 10px;
  font-size: 20px;
  color: #666;
}
.devise-memo{
  color: #ea5532;
}
.devise-text input{
  border: 2px solid #ffc800;
  border-radius: 10px;
  color: #666;
  
}
.actions {
  margin-top: 20px;
  text-align: center;
}
.actions input{
  color: #f19ca7;
  background-color: white;
  border:2px solid #f19ca7;
  border-radius: 10px;
  padding: 10px 20px;
}
.actions input:hover{
  color: #ea5532;
}
.move{
  margin: 30px 20px;
  text-align: center;
}