.red {
  background-color: #f19ca7;
}
.user-show{
  color: #666;
  font-size: 18px;
  margin: 10px 0;
  
}
.name{
  display: inline-block;
  font-size: 25px;
  border-bottom: 2px dotted #0073a8;
  border-top: 2px dotted #0073a8;
  padding: 5px 10px;
}
.user-picture{
  height: 150px;
  width: 150px;
  border: 2px solid #ea5532;
  background-image: image-url("greek-vase.png");
  background-size: cover;
  margin: 0 auto;
}
.follow-btn {
  text-decoration: none;
  border: 2px solid #666;
  color: #666;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 1px 5px #666;
}
.follow-btn:active{
  box-shadow: none;
  position: relative;
  top: 5px;

}


